%h2 Projects
%hr
.container
  .row
    .col-xs-18.col-sm-4.col-md-3
      .box
        .imgthumb.img-responsive
          %img{:src => "images/todo-list.png", height: "150", width: '100%'}
        .caption
          %h5 Todo List based on React
          %a.btn.btn-info.btn-xs{:href => "https://github.com/ikukhar/todo-list", :role => "button"} Github
          %a.btn.btn-default.btn-xs{:href => "https://ikukhar-todo-list.herokuapp.com/", :role => "button"} Heroku

    .col-xs-18.col-sm-4.col-md-3
      .box
        .imgthumb.img-responsive
          %img{:src => "images/angular-todo-list.png", height: "150", width: '100%'}
        .caption
          %h5 Angular Todo List
          %a.btn.btn-info.btn-xs{:href => "https://github.com/ikukhar/angular-todo-list", :role => "button"} Github
          %a.btn.btn-default.btn-xs{:href => "https://ikukhar-angular-todo-list.herokuapp.com/", :role => "button"} Heroku
