%nav.navbar.navbar-inverse.navbar-fixed-bottom
  .container
    .col-sm-8.col-sm-offset-2
      #navbar
        %h6
          %ul.nav.navbar-nav.pull-right
            %li= link_to 'by ikukhar', 'https://github.com/ikukhar'
